@charset "UTF-8";


* {
    font-family: "Source Sans Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", "YuGothic", "Meiryo", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
}



#home {
    margin: 0;
}

#wrapper {
    margin: 0;
}


.cf {
    overflow: hidden;
}

.tittleh1 {
    border-bottom: solid #898B8A 1px;
    color: #00BC71;
    padding-bottom: 2%;
    margin-top: 10%;
    text-align: center;
    font-size: 40px;
}


.horse {
    width: 5%;
    margin-bottom: -1%;
}

