@charset "UTF-8";

* {
    font-family: "Source Sans Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", "YuGothic", "Meiryo", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
}

#home {
    margin: 0;
}

#top-wrapper {
    margin: 0;
}
/* ▽login.php▽ */
#header-inner{
    margin:0 auto;
    }
.login-title{
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
}

/* ▽top.php▽ */
/* header▼ */
    #top-header-inner{
        margin:0 auto;
        margin-bottom: 150px;
    }
    .top-header-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .greeting {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    a{
        text-decoration: none;
    }
    .top-navi-ul{
        list-style:none;
        margin: 0;
        display: flex;
    }
    .top-navi-li{
        justify-content: start;
        width: 14%;
    }
    .top-navi-a{
        text-align: center;
        color:white;
        display: block;
        background-color: black;
        margin-right: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
    }
    .top-navi-li :hover {
        border-bottom: 3px solid #BB2388;
    }
/*main*/
    main{
        text-align: center;
        margin-bottom: 300px;
    }

    h2{
        font-size: 20px;
        text-align: center;
    }
    .top-h2{
        margin-bottom: 300px;
    }
/*↓footer*/
    footer{
        margin-top: 13%;
        text-align: center;
        background: url(../images/field-1853614_1920.jpg) no-repeat;
        background-size: cover;
        padding: 3rem 0;
    }

    small{
        color: white;
        font-weight: bold;
        text-shadow: -1px -1px #808080;
    }

    .page-top {
        position: fixed;
        bottom: 1%;
        right: 2%;
        width: 6%;
    }

    .page-top :hover {
       opacity: 0.75;
    }

    .page-top img{
        width: 100%;
    }
