@charset "UTF-8";

    * {
        font-family: "Source Sans Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", "YuGothic", "Meiryo", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 500;
    }

    #home {
        margin: 0;
    }
    /*-----共通-----*/
    .button-getpage{
        margin-bottom: 20px;
        background-color: rgb(206,206,206);
        width: 200px;
        padding: 10px 10px;
        border-radius: 8px;
        box-shadow: 4px 4px 0px 0 rgb(170,170,170);
        font-size: 15px;
    }
    button {
        position: relative;
        left: -380px;
        border: none;
    }
    footer{
        text-align: right;
    }
    /* ▽login.php▽ */

    .login-body {
        background-color: rgb(178,226,171);
    }
    #login-wrapper{
        width: 1200px;
        margin: 0 auto;
        padding-bottom: 250px;

    }
    .login-title{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 50px
    }
    .error{
        color: rgb(233, 57, 32);
        font-size: 20px;
        font-weight: bold;
    }
    .login-auth{
        margin-top: 20px;
    }

/*-----▽top.php▽-----*/
/* header▼ */
    .top-body {
        background-color: rgb(178,226,171);
    }
    #top-wrapper {
        margin: 0;
        background-color: #fff;
        width: 75%;
        margin: 0 auto;
        padding-bottom: 100px;
        margin-bottom: 50px;
    }
    #top-header-inner{
        width: 100%;
    }
    .top-header-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .greeting {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    a{
        text-decoration: none;
    }
    .top-navi-ul{
        list-style:none;
        margin: 0;
        display: flex;
        margin-bottom: 50px;
    }
    .top-navi-ul li{
        justify-content: start;
        width: 14%;
        font-size: 13px;
    }
    .top-navi-ul a{
        text-align: center;
        color:white;
        display: block;
        background-color: black;
        margin-right: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        font-weight: bold;
    }
    .top-navi-ul li :hover {
        border-bottom: 3px solid #BB2388;
    }
    .top-header-h2 {
        text-align: left;
        margin: 5px;
        margin-left: 20px;
        font-size: 30px;
    }

/*main*/

    main{
        text-align: center;
    }
    .top-h2{
        margin-bottom: 50px;
    }
    h2{
        font-size: 15px;
        text-align: center;
    }
    .login-input{
        width: 200px;
    }
    .top-table{
        margin: 0 auto;
        border-collapse: collapse;
        border: 1px solid #000;
        width: 900px;
    }
    .copy-right{
        position: relative;
        bottom: -90px;
        text-align: right;
    }
/*-----new_info_edit.php-----*/

    .main-contents{
        width: 1000px;
        margin: 0 auto;
    }
    .edit-table{
        margin: 0 auto;
        width: 100%;
        margin-bottom: 30px;
    }
    .edit-table tr td{
        text-align: left;
    }
    .edit-table th, .edit-table td{
        border:1px solid;
    }
    /* .edit-table td{
        vertical-align: middle;
    } */
    .edit-table {
        border-collapse: collapse;
    }
    .edit-table tr th:nth-of-type(1){
        font-weight: bold;
        width: 150px;
    }
    .edit-table-date {
        text-align: left;
        padding-left: 10px;
    }
    .edit-table-content textarea{
        height: 215px;
        width: 97%;
        text-align: left;
        margin: 0px 10px;
    }
    .edit-conf-button{
        padding: 0px 30px;
    }
    /*-----new_info_list.php-----*/
    thead tr th{
        font-weight: bold;
    }
    tbody tr{
        border: 1px solid #000;
        margin-bottom: 10px;
    }
    tbody tr th{
        vertical-align: middle;
    }
    tbody tr td{
        word-wrap: break-word;
        word-break: break-all;
        vertical-align: middle;
        padding: 10px 0px;
    }
    .list-sort-button{
        color: rgb(117,33,205);
    }
    thead tr th:nth-child(1) {
        width: 15%;
    }
    .list-table-body td:nth-of-type(1) {
        width: 50px;
    }
    tbody tr td:nth-of-type(2) {
        width: 250px;
    }
    tbody tr td:nth-of-type(3) {
        width: 120px;
    }
    tbody tr td:nth-of-type(4) {
        width: 180px;
    }
    tbody tr td:nth-of-type(5) {
        width: 180px;
    }
    tbody tr td:nth-of-type(6) {
        width: 100px;
    }
    thead input{
        background-color: #fff;
        border: none;
        padding: 0px;
        font-size: 2px;
        cursor: pointer;
        cursor: hand;
    }

    .list-register-a{
        padding: 0px 8px;
        background-color: rgb(238,238,238);
        border: 2px solid rgb(50,50,50);
        border-radius: 5px;
        font-size: 15px;
        color: #000;
    }
    .list-edit-link{
        background-color: rgb(238,238,238);
        border: 2px solid rgb(50,50,50);
        border-radius: 5px;
        padding:0px 8px;
        font-size: 15px;
        color: #000;
        margin: 0;
    }
    .list-delete-link{
        background-color: rgb(238,238,238);
        border: 2px solid rgb(50,50,50);
        border-radius: 5px;
        padding: 0px 8px;
        font-size: 15px;
        color: #000;
        margin: 0;
    }
    .addad{
        text-align: center;
    }
    .list-error{
        border-style: none;
        width: 100%;
        font-size: 20px;
    }
    .list-table{
        width: 100%;
    }
    /*----- new_info_conf.php -----*/
    .conf-buttons{
        display: flex;
        justify-content: start;
        margin-bottom: 150px;
    }
    .conf-fix-button{
        border-radius: 6px;
        background-color: rgb(155,155,155);
        padding: 1px 20px;
        color: white;
    }
    .conf-signup-button{
        border-radius: 6px;
        padding: 1px 30px;
        margin-left: 350px;
    }
    /*----- new_info_done.php -----*/
    .done-error{
        color: blue;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 300px;
    }