@charset "UTF-8";

* {
    font-family: "Source Sans Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", "YuGothic", "Meiryo", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
}

#home {
    margin: 0;
}
/*-----共通-----*/
.hero-h2{
    margin-bottom: 20px;
    background-color: rgb(206,206,206);
    width: 120px;
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 4px 4px 0px 0 rgb(170,170,170);
}




/* ▽login.php▽ */

.login-body {
    background-color: rgb(178,226,171);
}
#login-wrapper{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 250px;

}
.login-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}

/*-----▽top.php▽-----*/
/* header▼ */
    .top-body {
        background-color: rgb(178,226,171);
    }
    #top-wrapper {
        margin: 0;
        background-color: #fff;
        width: 75%;
        margin: 0 auto;
        padding-bottom: 100px;
        margin-bottom: 50px;
    }
    #top-header-inner{
        width: 100%;
    }
    .top-header-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .greeting {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    a{
        text-decoration: none;
    }
    .top-navi-ul{
        list-style:none;
        margin: 0;
        display: flex;
        margin-bottom: 100px;
    }
    .top-navi-li{
        justify-content: start;
        width: 14%;
        font-size: 13px;
    }
    .top-navi-a{
        text-align: center;
        color:white;
        display: block;
        background-color: black;
        margin-right: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        font-weight: bold;
    }
    .top-navi-li :hover {
        border-bottom: 3px solid #BB2388;
    }
/*main*/

    main{
        text-align: center;
    }
    .top-h2{
        margin-bottom: 50px;
    }

    h2{
        font-size: 20px;
        text-align: center;
    }
    .login-input{
        width: 200px;
    }
    .top-table{
        margin: 0 auto;
        border-collapse: collapse;
        border: 1px solid #000;
        width: 900px;
    }
    .copy-right{
        position: absolute;
        right:190px;
        bottom:10px;
    }
/*-----new_info_edit.php-----*/

    .hero{
        width: 900px;
        margin: 0 auto;
    }
/*-----new_info_list.php-----*/
    .list-table{
        border: 1px solid #000;
    }
    .list-th{
        padding: 10px;
    }
    /* .list-register{
        margin: 0px 20px;
    } */
    .list-register-a{
        padding: 3px 8px;
        background-color: rgb(238,238,238);
        border: 2px solid rgb(50,50,50);
        border-radius: 5px;
        font-size: 15px;
        color: #000;
    }
    .list-table td{
        padding: 15px;
    }
    .list-edit-link{
        background-color: rgb(238,238,238);
        border: 2px solid rgb(50,50,50);
        border-radius: 5px;
        padding: 3px 8px;
        font-size: 15px;
        color: #000;
    }
    .list-delete-link{
        background-color: rgb(238,238,238);
        border: 2px solid rgb(50,50,50);
        border-radius: 5px;
        padding: 3px 8px;
        font-size: 15px;
        color: #000;
    }